
body * {
	-webkit-background-clip: padding-box;
}

.head {
	padding: 50px 0 350px 0;
	background: transparent url('../img/background3.jpg') no-repeat 50% 50%;
}

.formErrorArrow { display: none; }
.formErrorContent {
	position: relative;
	top: 16px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 4px 14px 4px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.csc-textpic-image {
	padding: 4px;
	line-height: 20px;
	border: 1px solid 
	#ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.news-list-item {
	margin-bottom: 1.5em;
}
.news-single-item .btn-bar {
	margin-top: 1.5em;
}

.lead {
	font-size: 1.2em;
	line-height: 1.5;
}


.well {
	padding: 8px;
}

.nav {
	margin-bottom: 0;
	border-bottom: 0;
}

.donateform img {
	margin-top: 1em;
}


.container-subnav .nav > li > a {
	display: inline-block;
}

.container-subnav .nav > li {
	position: relative;
}

.container-subnav .nav > li > a.hassub {
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	padding-right: 8px;
}

.container-subnav .nav li a.subdrop {
	margin-left: -3px;
	padding-left: 8px;
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
	border-left: 0;
}


.navbar-inner {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.nav .divider,
.nav .divider-vertical {
	margin: 0;
}

.news-list-container a,
.news-latest-container a{
	color: #333;
}

.news-latest-container .media {
	margin: 5px 0 15px;
}

.news-list-container a:hover,
.news-latest-container a:hover{
	color: #666;
	text-decoration: none;
}

/*RGBA(6.00, 100.00, 201.00, 1.00)*/
.brand-active {
	color: #222;
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}

/*.nav a.action {
	background: #eee;
	-webkit-box-shadow: inset 0 0px 8px rgba(255,255,255,0.125);
	-moz-box-shadow: inset 0 0px 8px rgba(255,255,255,0.125);
	box-shadow: inset 0 0px 3px rgba(255,255,255,1);
}*/

section,
.navbar-inner  {
	-moz-box-shadow: 0 0px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0px 15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

footer {
	font-size: 0.9em;
	padding: 20px 0 20px;
	border-top: 1px solid #ddd;
	position: relative;
	bottom: -80px;
	background: #fff;
	height: 120px;
	background: #eee;
}
footer .copyright {
	color: #888;
	clear: right;
	text-align: right;
}
footer .copyright a {
	color: #aaa;
	clear: right;
}

footer .pagination {
	float:right;
	margin-top: 0;
}

footer .pagination a {
	background: #e5e5e5;
}

.brand-active {
	
}

.navbar .btn-group {
	margin-bottom: 0;
}

.container-subnav a{
	background: rgba(255,255,255,0.8);
}


.container-language a,
.container-subnav a{
	background: rgba(255,255,255,0.8);
}

.container-language {
	position: absolute;
	width: 100%;
}

.container-subnav {
	position: absolute;
	width: 100%;
}

.container-subnav .nav{
	position: relative;
	top: -38px;
}
/* content */

@media (max-width:979px){
	
	.brand-active {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow:none;
	}
	
	.head {
		margin: 0 -20px;
	}
	section {
		-moz-box-shadow: 0px 0px 0px #fff;
		-webkit-box-shadow: 0px 0px 0px #fff;
		box-shadow: 0px 0px 0px #fff;
	}
	
	footer {
		background: #fff;
	}
	.page-header small {
		display: block;
	}
	footer .row-fluid .more {
		margin-left: 0;
		padding-bottom: 20px;
		width: 100%;
		float: none;
		clear: both;
	}
	footer .copyright {
		text-align: left;
	}

	footer .pagination {
		float: none;
	}
}
