<footer>
	<div class="container">
		<div class="row">
			<div class="span6">
				<p>
				&copy; <f:cObject typoscriptObjectPath="library.Date.Year" /> Kochschule bissFEST. Umsetzung durch <a href="http://www.noelboss.ch">noelboss.ch</a>. Alle Rechte vorbehalten.
				</p>
			</div>
			<div class="span6">
				<a href="{f:uri.page(pageUid:'16')}" class="footerlogo">
					<div>
						<f:image src="EXT:nbobase/Resources/Public/img/bissfest-plate-small.png" alt="bissFEST" />
						<h4>bissFEST</h4>
						<h5>Kochschule<br/>Treffpunkt für Feinschmeker in der Ostschweiz</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>
