<footer>
	<div class="container">
		<div class="row-fluid">
			<div class="span3 contact">
				<f:cObject typoscriptObjectPath="library.Content.c5" />
			</div>
			<div class="span5 bankdetails">
				<f:cObject typoscriptObjectPath="library.Content.c6" />
			</div>
			<div class="span4 more">
				<f:cObject typoscriptObjectPath="library.NavMainFooter" />
				<p class="copyright">
					&copy; <f:cObject typoscriptObjectPath="library.Date.Year" /> Casa Esperanca, all rights reserved.<br/>
					<small>Created by <a class="muted" href="http://www.noelboss.ch">Noel Bossart</a>.</small>
				</p>
			</div>
		</div>
	</div>
</footer>